@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

$visual-grid: false;

@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  font-weight: normal;
}

body {
  font-family: 'Helvetica', sans-serif;
}

header {
  height: 34px;
  a {
    line-height: 34px;
    padding: 16px;
    text-decoration: none;
    color: #777;

    &:hover {
      color: #000;
    }
  }
}

.hero  {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  text-align: center;
  padding: 42px;
  margin: 0 0 48px 0;

  h1 {
    color: #fff;
    text-shadow: 1px 1px #888;
    font-weight: normal;
  }
}

main {
  @include outer-container;
  padding: 0 9px;
}

footer {
  background: #111;
  padding: 8px 16px;
  color: #888;
  line-height: 25px;
  text-align: center;

  a {
    color: #fff;
  }
}

main section.options article {
  @include span-columns(12);
  // @include shift(.5);
  border: 1px solid #cde;
  text-align: center;
  margin-bottom: 34px;
  &:last-of-type {
    margin-bottom: 75px;
  }

  section {
    color: #fff;
    padding: 30px;

    h3, h4, h5 {
      margin: 0;
      letter-spacing: 3px;
    }
    h3 {
      font-size: 17px;
    }
    h4 {
      font-size: 93px;
      font-weight: lighter;
    }
    h5 {
      font-size: 22px;
      letter-spacing: 0px;
      margin: 5px 0;
    }

  }

  .personal {
    background: #519251;
    > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #A7C8A7;
    }
  }
  .small {
    background: #2C4985;
    > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #909FBF;
    }
  }
  .enterprise {
    background: #111;
    > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #868686;
    }
  }

  & > h5 {
    border-bottom: 1px solid #cde;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    color: #555;
    background: #F7F7F7;
  }

  div button {
    background: none;
    margin: 20px;
    border-radius: 50px;
    padding: 10px 16px;
    border: 1px solid #cde;
    font-weight: bold;
    font-size: 16px;
  }

}

main section.reasons article {
  padding: 0 20px;
  p {
    line-height: 25px;
    color: #556369;
  }
  h3 {
    letter-spacing: 5px;
  }
}

.reasons h3 {
  text-transform: uppercase;
  margin-top: 39px;
}
.reason {
  text-align: left;
  overflow: auto;
}

// @media (max-width:767px) and (min-width:479px){
@media (min-width:479px){
  .hero  {
    min-height: 400px;
    padding: 112px 0 0 0;

    h1 {
      text-shadow: 1px 2px #777;
      font-size: 48px;
    }
  }
}
// @media (max-width:978px) and (min-width:768px){
//
// }
// @media (min-width:979px){
//
// }
