html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  font-weight: normal; }

body {
  font-family: 'Helvetica', sans-serif; }

header {
  height: 34px; }
  header a {
    line-height: 34px;
    padding: 16px;
    text-decoration: none;
    color: #777; }
    header a:hover {
      color: #000; }

.hero {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  text-align: center;
  padding: 42px;
  margin: 0 0 48px 0; }
  .hero h1 {
    color: #fff;
    text-shadow: 1px 1px #888;
    font-weight: normal; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 9px; }
  main::after {
    clear: both;
    content: "";
    display: table; }

footer {
  background: #111;
  padding: 8px 16px;
  color: #888;
  line-height: 25px;
  text-align: center; }
  footer a {
    color: #fff; }

main section.options article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 1px solid #cde;
  text-align: center;
  margin-bottom: 34px; }
  main section.options article:last-child {
    margin-right: 0; }
  main section.options article:last-of-type {
    margin-bottom: 75px; }
  main section.options article section {
    color: #fff;
    padding: 30px; }
    main section.options article section h3, main section.options article section h4, main section.options article section h5 {
      margin: 0;
      letter-spacing: 3px; }
    main section.options article section h3 {
      font-size: 17px; }
    main section.options article section h4 {
      font-size: 93px;
      font-weight: lighter; }
    main section.options article section h5 {
      font-size: 22px;
      letter-spacing: 0px;
      margin: 5px 0; }
  main section.options article .personal {
    background: #519251; }
    main section.options article .personal > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #A7C8A7; }
  main section.options article .small {
    background: #2C4985; }
    main section.options article .small > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #909FBF; }
  main section.options article .enterprise {
    background: #111; }
    main section.options article .enterprise > h5 {
      font-size: 19px;
      letter-spacing: 0px;
      color: #868686; }
  main section.options article > h5 {
    border-bottom: 1px solid #cde;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    color: #555;
    background: #F7F7F7; }
  main section.options article div button {
    background: none;
    margin: 20px;
    border-radius: 50px;
    padding: 10px 16px;
    border: 1px solid #cde;
    font-weight: bold;
    font-size: 16px; }

main section.reasons article {
  padding: 0 20px; }
  main section.reasons article p {
    line-height: 25px;
    color: #556369; }
  main section.reasons article h3 {
    letter-spacing: 5px; }

.reasons h3 {
  text-transform: uppercase;
  margin-top: 39px; }

.reason {
  text-align: left;
  overflow: auto; }

@media (min-width: 479px) {
  .hero {
    min-height: 400px;
    padding: 112px 0 0 0; }
    .hero h1 {
      text-shadow: 1px 2px #777;
      font-size: 48px; }
  footer {
    padding: 8px 35px; } }
